<?xml version="1.0"?>
<launch>
    <param name="fact_topic" type="str" value="/fact_publisher"/>
    <param name="fact_config_path" type="str" value="$(find symbolic_fact_generation)/config/facts_config.yaml"/>
    <param name="arm_postures_yaml" type="str" value="$(find symbolic_fact_generation)/config/arm_postures.yaml"/>

    <node name="fact_publisher" pkg="symbolic_fact_generation" type="fact_publisher" respawn="false" output="screen"/>

</launch>